<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Welcome to {{title}}</h1>
    <p>In the future this will be the page of Old Game Tribute</p>
    <img src="/images/LogoTOG2.png">
    {{{body}}}
</body>

</html>

