<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">OLD GAME TRIBUTE</a></li>
        <li><a href="/residentevil">Resident EVil</a></li>
        <li><a href="/silenthill">Silent Hill</a></li>
        <li><a href="/assassinscreed">Assassins Creed</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
