<div class="format-add-section">
    <div class="container-add-news">
        <span class="big-circle"></span>
        <span class="small-cicle"></span>
        <div class="form">
            <div class="contact-info">
                <h3 class="title">Add a new news</h3>
                <p class="text">
                    Please complete the form on the right to add a new.
                    <img src="/images/RE-contact.png" alt="" class="re-image-add">
                </p>

            </div>

            <div class="contact-form">
                <span class="circle one"></span>
                <span class="circle two"></span>

                <form class="general-form" action="/admin/news/add" autocomplete="off" method="post"
                    enctype="multipart/form-data">
                    <div class="containerTest">
                        <h3 class="title">News form</h3>
                        <div class="addimageformat">
                            <label class="LabelFormat">Image: <input type="file" name="image" id="image"
                                    class="input-image" /></label>
                        </div>
                        <div class="formatarea">
                            <div class="input-container">
                                <input type="text" name="title" class="input" />
                                <label for="">Title</label>
                                <span>Title</span>
                            </div>

                            <div class="input-container textarea">
                                <textarea name="description" class="input"></textarea>
                                <label for="">Description</label>
                                <span>Description</span>
                            </div>
                            <input type="submit" class="btn" />
                        </div>
                    </div>
                </form>
                {{#if error}}
                <p class="message-error-add">{{message}}</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<script>
    const inputs = document.querySelectorAll(".input");

function focusFunc() {
  let parent = this.parentNode;
  parent.classList.add("focus");
}

function blurFunc() {
  let parent = this.parentNode;
  if (this.value == "") {
    parent.classList.remove("focus");
  }
}

inputs.forEach((input) => {
  input.addEventListener("focus", focusFunc);
  input.addEventListener("blur", blurFunc);
});
</script>