<div class="format-add-section">
    <div class="container-add-news">
        <span class="big-circle"></span>
        <span class="small-cicle"></span>
        <div class="form">
            <div class="contact-info">
                <h3 class="title">Add a new news</h3>
                <p class="text">
                    Please complete the form on the right to add a new.
                    <img src="/images/RE-contact.png" alt="" class="re-image-add">
                </p>

            </div>

            <div class="contact-form">
                <span class="circle one"></span>
                <span class="circle two"></span>

                <form class="general-form" action="/admin/news/add" autocomplete="off" method="post">
                    <div class="containerTest">
                        <h3 class="title">News form</h3>
                        <div class="input-container">
                            <input type="text" name="image" class="input" />
                            <label for="">Image</label>
                            <span>Image</span>
                        </div>
                        <div class="input-container">
                            <input type="text" name="title" class="input" />
                            <label for="">Title</label>
                            <span>Title</span>
                        </div>

                        <div class="input-container textarea">
                            <textarea name="description" class="input"></textarea>
                            <label for="">Description</label>
                            <span>Description</span>
                        </div>
                        <input type="submit" class="btn" />
                    </div>
                </form>
                {{#if error}}
                <p class="message-error-add">{{message}}</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>