<div class="containernews" style="margin-top: 50px;">
    <div class="row">
        <p class="text-end">Hola {{user}} <a href="/admin/login/logout" class="btn btn-danger">Close <i
                    class="fas fa-sign-out-alt"></i></a></p>
    </div>
</div>