@charset "utf-8";
/* CSS Document */

body {
	color: #000;
	background: #332F29;
	font-size: 100%;
}

#contenedor {
	width: 800px;
	background: #8FA68E;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

nav {
	background: #CC3910;
	float: left;
	width: 160px;
	animation-name: box1;
	animation-duration: 3s;
	animation-fill-mode: forwards;

}

ul {
	list-style-type: none;
}

a {
	color: #F1F2C0;
	text-decoration: none;
}

section {
	background: #F1F2C0;
	float: left;
	margin: 0 0 0 25px;
	width: 400px;
	animation-name: box2;
	animation-duration: 3s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
}

aside {
	background: #CCC59E;
	float: right;
	width: 190px;
	animation-name: box3;
	animation-duration: 3s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
}

@media screen and (max-width: 800px) {
	body {
		margin: 0;
		padding: 0;
	}

	a {
		color: black;
		text-decoration: none;
	}

	aside {
		background: #CCC59E;
		float: none;
		width: 100%;
		display: inline-block;
	}

	#contenedor {
		width: 100%;
		background: #8FA68E;
		height: auto;
		position: flex;
	}

	h1 {
		font-size: 27px;
		margin: 0px 0px 21px 0px;
	}

	h2 {
		font-size: 21px;
		margin: 31px 0px 0px 10px;
	}

	nav {
		background: #ffcc66;
		float: none;
		width: 100%;
	}

	p {
		margin: 19px 0px 26px 8px;
		font-size: 15px;
	}

	section {
		background: #F1F2C0;
		float: none;
		width: 100%;
		border: 1px solid black;
		margin: 0;
	}

	ul {
		list-style-type: none;
		font-size: 16px;
		line-height: 30px;
		margin: 1px 0px 1px 18px;
	}

	@keyframes box1 {
		from {
			margin-left: 100%;
			background: black;
		}

		to {
			margin-left: 0%;
			background: #ffcc66;
		}
	}

	@keyframes box2 {
		from {
			margin-left: 100%;
			background: black;
		}

		to {
			margin-left: 0%;
			background: #F1F2C0;;
		}
	}

	@keyframes box3 {
		from {
			margin-left: 100%;
			background: black;
		}

		to {
			margin-left: 0%;
			background: #CCC59E;
		}
	}

}