* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #efefef;
}

.contact-box {
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

form {
    margin: 35px;
}

.input-field {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}

.textarea-field {
    height: 150px;
    padding: 10px
}

.btn {
    border-radius: 20px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
    background-color: #47c35a;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: blue;
}

.message {
    width: 100%;
    position: relative;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.message .success {
    font-size: 30px;
    color: rgb(7, 163, 7);
    position: absolute;
    animation: buttons .3s linear;
    display: none;
}

@keyframes buttons {
    0% {
        transform: scale(0.1);
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}